In [2]:
import pandas as pd
import csv
import numpy as np

In [3]:
# 리스트와 시리즈

# 리스트를 변환
num = [1,2,3,4,5]
s_num = pd.Series(num)
print(s_num)

# 인덱스를 지정해서 변환
# s_num = pd.Series(num, index=[1,2,3,4,5])
print(s_num)

# 인덱스만
print(s_num.index)
# 값만
print(s_num.values)
# 타입
print(s_num.dtype)

0    1
1    2
2    3
3    4
4    5
dtype: int64
0    1
1    2
2    3
3    4
4    5
dtype: int64
RangeIndex(start=0, stop=5, step=1)
[1 2 3 4 5]
int64

In [9]:
# 딕셔너리와 시리즈

# 딕셔너리 -> 시리즈
student = {'math':90, 'english':90, 'korean':100, 'his':80, 'art': 95}
s_student = pd.Series(student)
print(s_student)

# 인덱스 지정해서 변환
s_student = pd.Series(student, index=['a','b','c','d','e'])
print(s_student)
s_student = pd.Series(student, index=['math','english','korean','his','art'])
print(s_student)

math        90
english     90
korean     100
his         80
art         95
dtype: int64
a   NaN
b   NaN
c   NaN
d   NaN
e   NaN
dtype: float64
math        90
english     90
korean     100
his         80
art         95
dtype: int64

In [5]:
# 시리즈 -> 리스트 또는 딕셔너리
s_dict = dict(s_student)
print(s_dict)

s_list = list(s_num)
print(s_list)

{'math': 90, 'english': 90, 'korean': 100, 'his': 80, 'art': 95}
[1, 2, 3, 4, 5]

In [6]:
# 시리즈 이름 부여
s_student.name = '성적'
print(s_student)

math        90
english     90
korean     100
his         80
art         95
Name: 성적, dtype: int64

In [13]:
# 시리즈 인덱스 수정
s_student.rename({'english':'eng'})
# inplace 속성값을 주지 않으면 원본에 영향을 미치지 않음

s_student.rename({'english':'eng'}, inplace=True)
s_student

math       90
eng        90
korean    100
his        80
art        95
dtype: int64

In [10]:
# 시리즈 값 찾기
print(s_student['math'])
print(s_student[0])

# 인덱스만
print(s_student.index)
# 값만
print(s_student.values)
# 자료형
print(s_student.dtype)

90
90
Index(['math', 'english', 'korean', 'his', 'art'], dtype='object')
[ 90  90 100  80  95]
int64

In [ ]:
# 시리즈 값 수정

# 인덱스 이용
s_student['math'] = 10
s_student[1] = 200

print(s_student)

In [ ]:
# 시리즈 값 추가
# s_student['sci'] = '50'

# 위치 인덱스는 에러 발생
s_student[6] = '50'

print(s_student)

In [ ]:
# 시리즈 값 삭제

# del 명령어 
# del s_student['sci']

# pop() - 원본에서 삭제
# s_student.pop('his')

# drop() - 제외하고 출력
# print(s_student.drop('art'))

# drop() - 원본에서 삭제
# s_student.drop('art', inplace=True)

print(s_student)

In [14]:
# 슬라이싱
# 인덱스의 범위를 지정할 경우 정수형 인덱스는 범위의 끝이 포함되지 않으나 문자열(인덱스의 이름)을 사용하면 끝이 포함됨
# 시리즈명[start:end:step]

# 정수형 위치 인덱스 
print(s_student[1:2])
# 마지막값
print(s_student[-1])
# 전체출력
print(s_student[:])

# 인덱스 라벨
print(s_student['math':'korean':2])

eng    90
dtype: int64
95
math       90
eng        90
korean    100
his        80
art        95
dtype: int64
math       90
korean    100
dtype: int64

In [ ]:
# 데이터 자료형
# int와 float이 섞이면 float으로 변환됨
s = pd.Series([1,2,3,4.0,5])
print(s)

for i in s:
    print(type(i))
    
# 여러가지 자료형이 있으면 object    
s1 = pd.Series([1,'2',True,4.0])    
print(s1)

for i in s1:
    print(type(i))
    
# 문자열도 object
s2 = pd.Series(['1','2','3','4','5'])
print(s2.dtype)

# 직접 데이터 타입을 명시해주면 string으로 나옴(새로 추가됨)
s3 = pd.Series(['1','2','3','4','5'], dtype='string')
print(s3)

# astype() 원본에 영향을 주지 않음(다시 저장해서 사용)     
s.astype('string')
print(s)
s = s.astype('string')
print(s)

In [ ]:
# 데이터 프레임==========================================================================================

In [ ]:
import random 
school = []
for i in range(50):
    gender = random.randint(0,1)
    if gender == 0:
        gender = 'f'
    else:
        gender = 'm'
    math, eng, kor, his, art = random.sample(range(1,101), 5)
    school.append([gender, math, eng, kor, his, art])    
    
df = pd.DataFrame(school)    
df

In [172]:
# 리스트 -> 데이터 프레임

# 1차원
li1 = [1,2,3,4,5]
df1 = pd.DataFrame(li1)
print(df1)
# 컬럼명 설정(columns 옵션)
# 인덱슷 설정(index 옵션)
df1 = pd.DataFrame(li1, columns=['A'], index=['a','b','c','d','e'])
print(df1)

# 2차원
li2 = [[1,2,3,4,5],[6,7,8,9,10]]
print(li2)
# 컬럼명 설정
df2 = pd.DataFrame(li2, columns=['A','B','C','D','E'])
df2

   0
0  1
1  2
2  3
3  4
4  5
   A
a  1
b  2
c  3
d  4
e  5
[[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]]

   A  B  C  D   E
0  1  2  3  4   5
1  6  7  8  9  10

In [43]:
# 딕셔너리 -> 데이터 프레임

student = {'math':[90,10], 'english':[90,10], 'korean':[100,10], 'his':[80,10], 'art': [95,10]}
df = pd.DataFrame(student)

# 컬럼명 설정
# df = pd.DataFrame(student, columns=['A','B','C','D','E'])
df = pd.DataFrame(student, columns=['math','english','korean','his','art'])
df

   math  english  korean  his  art
0    90       90     100   80   95
1    10       10      10   10   10

In [44]:
# 데이터프레임을 리스트로

# values
li1 = df.values
print(li1)

li1 = df.values.tolist()
print(li1)
print(type(li1))

# columns
li = df.columns
print(li)
li = li.tolist()
print(li)

# index
li = df.index
print(li.tolist())

[[ 90  90 100  80  95]
 [ 10  10  10  10  10]]
[[90, 90, 100, 80, 95], [10, 10, 10, 10, 10]]
<class 'list'>
Index(['math', 'english', 'korean', 'his', 'art'], dtype='object')
['math', 'english', 'korean', 'his', 'art']
[0, 1]

In [41]:
# 데이터프레임을 딕셔너리로

# 열이름 = 키 레코드 = 값 인덱스 = 키
dict1 = df.to_dict()
print(dict1)

# df.to_dict('list')는 열 이름은 키로 변환되고 값 쌍은 각각 목록으로 변환된다.
dict1 = df.to_dict('list')
print(dict1)

# df.to_dict('index')는 인덱스가 키, 각 행을 값으로 
dict1 = df.to_dict('index')
print(dict1)

# df.to_dict('records')는 각 행을 사전형으로 아래와 같이 변환한다
dict1 = df.to_dict('records')
print(dict1)

{'a': {0: 0, 1: 0, 2: 1}, 'b': {0: 0, 1: 0, 2: 1}, 'D': {0: 0, 1: 0, 2: 0}}
{'a': [0, 0, 1], 'b': [0, 0, 1], 'D': [0, 0, 0]}
{0: {'a': 0, 'b': 0, 'D': 0}, 1: {'a': 0, 'b': 0, 'D': 0}, 2: {'a': 1, 'b': 1, 'D': 0}}
[{'a': 0, 'b': 0, 'D': 0}, {'a': 0, 'b': 0, 'D': 0}, {'a': 1, 'b': 1, 'D': 0}]

In [ ]:
# index
print(df.index)

# values
print(df.values)

# columns
print(df.columns)

# dtypes
print(df.dtypes)

In [51]:
# info()
df.info()

# head()
df.head()

# tail()
df.tail()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   math     2 non-null      int64
 1   english  2 non-null      int64
 2   korean   2 non-null      int64
 3   his      2 non-null      int64
 4   art      2 non-null      int64
dtypes: int64(5)
memory usage: 208.0 bytes

   math  english  korean  his  art
0    90       90     100   80   95
1    10       10      10   10   10

In [55]:
# 데이터 프레임 값 찾기

# 열 이름으로 찾기
df['math']
df.math

# 행 인덱스로 찾기
# df.loc[2]
# df.index = df.index +1
# df.loc[2]
# df.iloc[2]

# # 특정값으로 찾기 df.loc[행 인덱스, 열이름] = 새로운 값
# df.loc[2,'D']

# df

0    90
1    10
Name: math, dtype: int64

In [ ]:
# 컬럼명 수정 

# 전체 컬럼명 수정
df.columns = ['col1', 'col2', 'col3', 'col4', 'col5']
df

# 일부 컬럼명 수정
df.rename(columns={'Before':'After'})
df

# 인덱스명 수정
# 인덱스 수정
df.index = ['idx1', 'idx2']
df

# 일부 인덱스명 수정
df.rename(index={'idx1':'idx10'})

In [19]:
# 데이터 프레임 값 수정

# 열 전체 값 수정
df['a'] = 1

# 행 전체 값 수정
df.loc[2] = 'x'

# 특정값 수정 df.loc[행 인덱스, 열이름] = 새로운 값
df.loc[2,'D'] = 'p'
df

  math english korean his art  a    D
0   90      90    100  80  95  1  NaN
1   10      10     10  10  10  1  NaN
2    x       x      x   x   x  x    p

In [57]:
# 데이터 프레임 값 추가
li = [[0,0],[0,0]]
df = pd.DataFrame(li)
df

df.columns = ['a','b']

# 새로운 행 만들기
df.loc[2] = 1

# 새로운 열 만들기
df['D'] = 'A'
df

   a  b  D
0  0  0  A
1  0  0  A
2  1  1  A

In [58]:
# 데이터 프레임 값 삭제

# 행 삭제
# drop(행 인덱스)
# 원본 적용시 inplace=True
df.drop(2)

# drop('axis=1 또는 axis=columns')
# 원본 적용시 inplace=True
# df.drop('D', axis=1)
df.drop('D', axis='columns')

# df

   a  b
0  0  0
1  0  0
2  1  1

In [59]:
# transpose()

df.transpose()

# T
df.T

df

   a  b  D
0  0  0  A
1  0  0  A
2  1  1  A

In [62]:
# mean()
# df.mean()
# 숫자만 계산하려면 numeric_only=True 
print(df.mean(numeric_only=True))

a    0.333333
b    0.333333
dtype: float64

In [66]:
# sum()
# 문자열은 더해짐
print(df.sum())

a      1
b      1
D    AAA
dtype: object

In [70]:
# 정렬
# 오름차순
df.sort_values(by='a')
# 내림차순
df.sort_values(by='a',  ascending=False)

   a  b  D
2  1  1  A
0  0  0  A
1  0  0  A

In [93]:
# 조건식

import random 
school = []
for i in range(50):
    gender = random.randint(0,1)
    if gender == 0:
        gender = 'f'
    else:
        gender = 'm'
    math, eng, kor, his, art = random.sample(range(1,101), 5)
    school.append([gender, math, eng, kor, his, art])    
    
df = pd.DataFrame(school, columns=['gender','math', 'eng', 'kor', 'his','art'])    
df

# 수학점수가 50점보다 큰것만
df['math'] > 50

# and
df[(df['math'] > 50) & (df['eng'] > 50)]

# or
df[(df['math'] > 50) | (df['eng'] > 50)]


# new_df = df[df['math'] > 50]

# 인덱스 초기화
# drop = 인덱스로 세팅한 열을 Df에서 삭제할지 여부
# inplace = 원본 객체를 변경할지 여부
# new_df = new_df.reset_index(drop=True, inplace=False)
# new_df

   gender  math  eng  kor  his  art
0       f    21   77    6   38   80
1       m    23   61   62   94   28
2       f     9   56   65   41   19
4       m    37   59   86    2   14
5       m    25   93   56   87   17
7       m    94   79   57    8   30
9       m    83   49   36   11   35
11      m    70   83   92   87   15
12      m    32   81   44   53   77
13      f    12   57   34   36   95
14      f   100   32   81   40    6
15      f    73   96   77   46   50
16      m    54   95   76   99   21
17      f    53   16   12   55   93
18      f    48   74    4   94   33
20      f    28   75   84   86   13
21      m    66   76   24   77   85
23      m    83   95   23   54   55
25      f    73   25   38   45   14
26      f    49   57   16   17   56
27      m    52   46   79   96   97
28      m    70   52   33   94   30
29      m    79   70   73   69   68
30      f    94   64   41   23   56
31      m    55    3   69   76   54
33      f    78   27   68   32   60
35      m    68   11   57   95   45
36      m    77    7   38   59   18
37      m    99    3   53   47   21
38      m    93   32   62   60   16
39      m    73   64   96   44   61
42      f    22   97   50   10   69
44      f     2   52   22   44   15
45      f    45   80   51   68   44
47      f    76   90   74   16   35
49      m    65   47   64   52   48

In [100]:
# 슬라이싱
# 슬라이싱
# 인덱스의 범위를 지정할 경우 정수형 인덱스는 범위의 끝이 포함되지 않으나 문자열(인덱스의 이름)을 사용하면 끝이 포함됨
# df.iloc[start:end:step]
# 
# 정수형 위치 인덱스 
print(df.iloc[0:2, 0:2])
# 전체출력
# print(df.iloc[:])

# 인덱스 라벨
print(df.loc[:10,'math':'kor'])

  gender  math
0      f    21
1      m    23
    math  eng  kor
0     21   77    6
1     23   61   62
2      9   56   65
3     16   39   26
4     37   59   86
5     25   93   56
6      7   22   55
7     94   79   57
8     29   45   55
9     83   49   36
10    44   49   20

In [150]:
# csv 파일 읽기
df = pd.read_csv('genie.csv')
df

    rank                           title                    artist
0      1                       Shut Down                 BLACKPINK
1      2                      After LIKE                 IVE (아이브)
2      3                       사랑은 늘 도망가                       임영웅
3      4                      Pink Venom                 BLACKPINK
4      5                        우리들의 블루스                       임영웅
5      6  새삥 (Prod. by ZICO) (Feat. 호미들)                 지코 (ZICO)
6      7                     다시 만날 수 있을까                       임영웅
7      8                             무지개                       임영웅
8      9                       이제 나만 믿어요                       임영웅
9     10                             아버지                       임영웅
10    11                        Hype boy                  NewJeans
11    12                       A bientot                       임영웅
12    13                          사랑해 진짜                       임영웅
13    14                      손이 참 곱던 그대                       임영웅
14    15                            보금자리                       임영웅
15    16                             사랑역                       임영웅
16    17                            연애편지                       임영웅
17    18                        사랑해요 그대를                       임영웅
18    19                            인생찬가                       임영웅
19    20                       Attention                  NewJeans
20    21                       Monologue                  테이 (Tei)
21    22                       LOVE DIVE                 IVE (아이브)
22    23                  질주 (2 Baddies)                   NCT 127
23    24                          Cookie                  NewJeans
24    25                              백야                   린 (LYn)
25    26               그때 그 순간 그대로 (그그그)              WSG워너비 (가야G)
26    27                       FOREVER 1  소녀시대 (GIRLS' GENERATION)
27    28                         내가 아니라도                        주호
28    29             내 기쁨은 너가 벤틀리를 끄는 거야                       김승민
29    30                             주마등                       김호중
30    31                        빛이 나는 사람                       김호중
31    32                         인생은 뷰티풀                       김호중
32    33                         약속 (約束)                       김호중
33    34                              친구                       김호중
34    35                             슬픈등                       김호중
35    36                             가을꽃                       김호중
36    37                         그리움의 계절                       김호중
37    38                       Tiritomba                       김호중
38    39            노래해요 (Duet With 최백호)                       김호중
39    40                           그라데이션                      10CM
40    41                           보고싶었어            WSG워너비 (4FIRE)
41    42                  Yeah Yeah Yeah                 BLACKPINK
42    43                That's Hilarious              Charlie Puth
43    44                 Brucia La Terra                       김호중
44    45                       Champagne                       김호중
45    46                  Ready For Love                 BLACKPINK
46    47                사랑한다는 말은 아끼지 말아요                       이예준
47    48            LAW (Prod. by Czaer)           비비 (BIBI) & 윤미래
48    49                  윤슬 (Gold Dust)                   NCT 127
49    50                       해요 (2022)                       #안녕

In [171]:
pd.read_excel('test.xlsx', engine='openpyxl')

,Unnamed: 0,cop_name,title,exp,edu,loc,date,detail
0,0,중앙일보㈜,폴인팀 백엔드개발자 경력 채용,경력5년↑,학력무관,서울 마포구,~09/27(화),https://www.jobkorea.co.kr/Recruit/GI_Read/396...
1,1,잡코리아(유),[잡코리아/알바몬] 백엔드 개발자 (Backend Developer) 채용,경력3년↑,초대졸↑,서울 서초구,~09/19(월),https://www.jobkorea.co.kr/Recruit/GI_Read/395...
2,2,㈜아이엔지스토리,웹 플랫폼 백엔드 개발자 / 웹프론트엔드 개발자 / 기획자 / DevOps 각 부문 채용,경력2년↑,학력무관,서울 서초구 외,~10/07(금),https://www.jobkorea.co.kr/Recruit/GI_Read/396...
3,3,㈜우주텍,"(주)우주텍 경력 및 신입 모집(디지털 퍼포먼스 마케팅/서버,백엔드개발/UI퍼블리싱...",경력3년↑,학력무관,서울 금천구 외,~10/14(금),https://www.jobkorea.co.kr/Recruit/GI_Read/396...
4,4,펜타시큐리티시스템㈜,[펜타시큐리티] 보안제품 백엔드 개발자 모집,신입·경력1년↑,학력무관,서울 영등포구,~09/25(일),https://www.jobkorea.co.kr/Recruit/GI_Read/396...
5,5,㈜위메프,[위메프] 신규서비스 백엔드 개발자,경력3년↑,학력무관,서울 강남구,~10/18(화),https://www.jobkorea.co.kr/Recruit/GI_Read/396...
6,6,리치앤코,[본사] 서버/백엔드 개발자 채용,경력3년↑,학력무관,서울 중구 외,~09/28(수),https://www.jobkorea.co.kr/Recruit/GI_Read/396...
7,7,㈜아프리카TV,[아프리카TV]글로벌 서비스 백엔드/프론트엔드/모바일 앱 개발,경력3년↑,학력무관,경기 성남시,~09/30(금),https://www.jobkorea.co.kr/Recruit/GI_Read/396...
8,8,㈜위메프,[위메프서비스] 상품/전시/회원 백엔드 개발자,경력3년↑,학력무관,서울 강남구,~10/17(월),https://www.jobkorea.co.kr/Recruit/GI_Read/396...
9,9,엘에스이노베이션,각 부문 채용 - (광고영업/백엔드 개발자/웹퍼블리셔/웹디자이너/CS담당.사무보조),신입·경력,학력무관,서울 강서구 외,~10/02(일),https://www.jobkorea.co.kr/Recruit/GI_Read/395...
10,10,㈜위메프,[위메프서비스] 주문/결제/정산 백엔드 개발자,경력2년↑,학력무관,서울 강남구,~09/30(금),https://www.jobkorea.co.kr/Recruit/GI_Read/395...
11,11,㈜위메프,[위메프서비스] 추천/광고 백엔드 개발자,경력5년↑,학력무관,서울 강남구,~09/30(금),https://www.jobkorea.co.kr/Recruit/GI_Read/395...
12,12,㈜휴넷,[계열사/모두의 코딩] 풀스텍/백엔드 개발자 채용,경력,초대졸↑,서울 구로구,~09/25(일),https://www.jobkorea.co.kr/Recruit/GI_Read/395...
13,13,㈜위메프,[위메프서비스] 이벤트 백엔드 개발자,경력5년↑,학력무관,서울 강남구,~09/27(화),https://www.jobkorea.co.kr/Recruit/GI_Read/394...
14,14,㈜위메프,[위메프서비스] 검색서비스 백엔드 개발자,경력5년↑,학력무관,서울 강남구,~09/26(월),https://www.jobkorea.co.kr/Recruit/GI_Read/394...
15,15,㈜위메프,[위메프서비스] 파트너&쿠폰서비스 백엔드 개발자,경력무관,학력무관,서울 강남구,~09/22(목),https://www.jobkorea.co.kr/Recruit/GI_Read/394...
16,16,㈜위메프,[위메프서비스] 검색/쿠폰/사용자서비스 백엔드 개발자,경력2년↑,학력무관,서울 강남구,~09/22(목),https://www.jobkorea.co.kr/Recruit/GI_Read/394...
17,17,㈜제이슨그룹,서비스기획/백엔드기획 경력직 채용,경력3년↑,학력무관,서울 용산구 외,상시채용,https://www.jobkorea.co.kr/Recruit/GI_Read/394...
18,18,주식회사 위메이드,NILE 플랫폼 프론트엔드 개발 / NILE 플랫폼 백엔드 개발,경력,학력무관,경기 성남시,~09/30(금),https://www.jobkorea.co.kr/Recruit/GI_Read/392...
19,19,한국포스증권㈜,백엔드 SW개발 리드/ 프론트엔드 SW엔지니어 경력자 채용,경력2년↑,대졸↑,서울 영등포구 외,~10/27(목),https://www.jobkorea.co.kr/Recruit/GI_Read/392...

In [ ]:
# csv 파일로 저장하기
# df.to_csv('파일명')

In [102]:
# 넘파이

# 리스트와 넘파이의 차이
li = [1,2,3,4,5]
li2 = [10,20,30,40,50]

# 리스트 더하기
print(li + li2)

# 리스트 빼기 안됨
# print(li - li2)

# 곱하기 정수만 가능
# print(li*3)

# 나누기 안됨
# print(li/3)

[1, 2, 3, 4, 5, 10, 20, 30, 40, 50]

In [103]:
# 넘파이 -> 데이터의 자료형이 통일
arr1 = np.array([1.0,'20', 1])
print(arr1)
print(arr1.dtype)

['1.0' '20' '1']
<U32

In [104]:
# 넘파이

# 1차원
arr1 = np.array([1.0,20])
print(arr1)
print(arr1[0])

# 2차원
arr2 = np.array([[1,2,3], [4,5,6]])

print(arr2)
print(arr2[0])
print(arr2[0][1])

# 크기 shape ****************************************
print(arr1.shape)
# 2행 1열
print(arr2.shape)
# 2행 3열

# 차원 ndim ****************************************
print(arr1.ndim)
print(arr2.ndim)

# 크기 size ****************************************

print(arr1.size)
print(arr2.size)

# 데이터 타입 dtype ****************************************

print(arr1.dtype)
print(arr2.dtype)

[ 1. 20.]
1.0
[[1 2 3]
 [4 5 6]]
[1 2 3]
2
(2,)
(2, 3)
1
2
2
6
float64
int64

In [105]:
# 검색

# 1차원
print(arr1[0])

# 2차원
print(arr2[0])
print(arr2[0][1])

1.0
[1 2 3]
2

In [108]:
# 수정
arr1[0] = 10
print(arr1)

arr2[0][1] = 7
print(arr2)

[10. 20.]
[[1 7 3]
 [4 5 6]]

In [124]:
# 값을 추가
a = np.array([[0,0],[0,0]])
print(a)
print(a.ndim)

# a = np.append(a, 1)
# print(a)

# 행 추가
a = np.append(a, [[1,1]], axis=0)

b = np.append(a, [[1,1],[2,2],[3,3]], axis=1)
print(a)
print(b)

a.ndim

[[0 0]
 [0 0]]
2
[[0 0]
 [0 0]
 [1 1]]
[[0 0 1 1]
 [0 0 2 2]
 [1 1 3 3]]

2

In [135]:
# 삭제
# np.delete(배열, 인덱스, 축)
# axis0 -> 행 axis1 -> 열 (2차원)

# axis0 -> 높이 aixs1 -> 행 axis2 -> 열

print(a)
print(np.delete(a,1,axis=0))

[[0 0]
 [0 0]
 [1 1]]
[[0 0]
 [1 1]]

In [165]:
# np.zeros() 0으로 만들기 행, 열

# 자료형 기재 안해주면 실수형으로 만들어짐
z_arr = np.zeros((2,5))
print(z_arr)
print(z_arr.dtype)

z_arr = np.zeros((1,5))
print(z_arr)
# 정수형
# int형
z_arr = np.zeros((2, 5), dtype='i')
print(z_arr)
print(z_arr.dtype)

# unit형
z_arr = np.zeros((2, 5), dtype='I')
print(z_arr)
print(z_arr.dtype)

# 유니코드
z_arr = np.zeros((2,5), dtype='unicode')
print(z_arr)
print(z_arr.dtype)

# 유니코드는 대문자로
z_arr = np.zeros((2,5), dtype='U')
print(z_arr)
print(z_arr.dtype)

# 바이트 문자열 대문자로
# 다른건 에러발생
z_arr = np.zeros((2,5), dtype='S')
print(z_arr)
print(z_arr.dtype)

# 불리언
b_arr = np.zeros((2,5), dtype='?')
print(b_arr)
print(b_arr.dtype)

[[0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]]
float64
[[0. 0. 0. 0. 0.]]
[[0 0 0 0 0]
 [0 0 0 0 0]]
int32
[[0 0 0 0 0]
 [0 0 0 0 0]]
uint32
[['' '' '' '' '']
 ['' '' '' '' '']]
<U1
[['' '' '' '' '']
 ['' '' '' '' '']]
<U1
[[b'' b'' b'' b'' b'']
 [b'' b'' b'' b'' b'']]
|S1
[[False False False False False]
 [False False False False False]]
bool

In [161]:
# ones() 1로 이루어진 배열 만들기

o_arr = np.ones((1,2))
print(o_arr)

# 2행 3열
o_arr = np.ones((2,5))
print(o_arr)

o_arr = np.ones((2,5), dtype='U')
print(o_arr)
print(o_arr.dtype)

[[1. 1.]]
[[1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]]
[['1' '1' '1' '1' '1']
 ['1' '1' '1' '1' '1']]
<U1

In [168]:
# arange() 연속된 정수로 배열 만들기
# arange(start, end, step)
# 기본형이 정수
a_arr = np.arange(3,10)
print(a_arr)
print(a_arr.dtype)

a_arr = np.arange(3,10,2, dtype='f')
print(a_arr.dtype)

print(a_arr)

[3.  3.1 3.2 3.3 3.4 3.5 3.6 3.7 3.8 3.9 4.  4.1 4.2 4.3 4.4 4.5 4.6 4.7
 4.8 4.9 5.  5.1 5.2 5.3 5.4 5.5 5.6 5.7 5.8 5.9 6.  6.1 6.2 6.3 6.4 6.5
 6.6 6.7 6.8 6.9 7.  7.1 7.2 7.3 7.4 7.5 7.6 7.7 7.8 7.9 8.  8.1 8.2 8.3
 8.4 8.5 8.6 8.7 8.8 8.9 9.  9.1 9.2 9.3 9.4 9.5 9.6 9.7 9.8 9.9]
float64
float32
[3. 5. 7. 9.]

In [137]:
# transpose() 행과 열을 바꾸기

# 2행 3열
t_arr = np.array([[1,2,3],[4,5,6]])
print(t_arr)

print(t_arr[0][1])
print(t_arr[1][0])

# 3행 2열
# 인덱스 위치를 바꿈 
t = t_arr.transpose()
print(t[0][1])
print(t[1][0])

t = t.T
print(t)

# print(np.transpose(t))

t = np.transpose(t)
print(t)

[[1 2 3]
 [4 5 6]]
2
4
4
2
[[1 2 3]
 [4 5 6]]
[[1 4]
 [2 5]
 [3 6]]

In [140]:
# 사칙연산
# 2행 2열
a = np.array([[10,20],[30,40]])
b = np.array([[1,2],[3,4]])

print(a)
print(b)

print(a+b)
print(a-b)
print(a*b)
print(a/b)

[[10 20]
 [30 40]]
[[1 2]
 [3 4]]
[[11 22]
 [33 44]]
[[ 9 18]
 [27 36]]
[[ 10  40]
 [ 90 160]]
[[10. 10.]
 [10. 10.]]

In [148]:
# 브로드 캐스팅
# 2행 1열
# 2행 3열

a = np.array([[10],[20]])
b = np.array([[1,1,1],[1,1,1]])

print(a)
print(b)

print(a.ndim)
print(a.shape)
print(b.ndim)
print(b.shape)

print(a+b)
print(a-b)
print(a*b)
print(a/b)

[[10]
 [20]]
[[1 1 1]
 [1 1 1]]
2
(2, 1)
2
(2, 3)
[[11 11 11]
 [21 21 21]]
[[ 9  9  9]
 [19 19 19]]
[[10 10 10]
 [20 20 20]]
[[10. 10. 10.]
 [20. 20. 20.]]

In [ ]:
# 자료구조 
# 스택

class MyStack:
    
    def __init__(self, capacity):
        # 스택의 크기         
        self.capacity = capacity
        # 크기만큼 생성
        self.container = [None]*size
        # 스택 포인터
        self.pointer = 0
        
    # 비어 있는지 확인         
    def isEmpty(self):
        return self.pointer <= 0
    
    # 가득 차 있는지 확인     
    def isFull(self):
        return self.pointer >= self.capacity
    
    # 데이터 꺼내기
    def pop(self):
        self.pointer -= 1
        return self.container[self.pointer]

    # 데이터 넣기 
    def push(self, data):
        self.container[pointer] = data
        self.pointer += 1

    # 맨 위에 있는것 보기     
    def peek(self):
        return self.container[self.pointer - 1]
    
    # 스택 비우기
    def clear(self):
        self.poiner = 0
        
    # 모든 데이터 보기
    def dump(self):
        print(self.container[:self.pointer])

In [149]:
class MyStack_2:
    
    def __init__(self, capacity):
        # 스택의 크기         
        self.capacity = capacity
        # 크기만큼 생성
        self.container = [None]*size
        # 스택 포인터
        self.pointer = 0
        
    # 비어 있는지 확인         
    def isEmpty(self):
        return self.pointer <= 0
    
    # 가득 차 있는지 확인     
    def isFull(self):
        return self.pointer >= self.capacity
    
    # 데이터 꺼내기
    def pop(self):
        self.pointer -= 1
        return self.container.pop()

    # 데이터 넣기 
    def push(self, data):
        self.container.append(data)
        self.pointer += 1

    # 맨 위에 있는것 보기     
    def peek(self):
        return self.container[self.pointer - 1]
    
    # 모든 데이터 보기
    def dump(self):
        print(self.container[:self.pointer])
        
    # 스택 비우기
    def clear(self):
        self.container[:] = None